body{
    background-color: #F2E9E4;
    margin: 0;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.sketch__text{
    position: absolute;
    text-align: center;
    width: 100%;
    color: #E1D89F;
    font-family: 'Verdana';
    font-size: 20px; 
}